@model StudentManagement.Models.Student

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="container heading bg-primary mt-5">
        <h4 class="heading-text">STUDENT INFOMATION</h4>
    </div>
    <div class="container form-input border border-gray">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row mt-4 ml-3">
                <div class="form-group col-sm-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label for="myGender">Gender</label>
                    <select asp-for="Gender" class="form-control">
                        <option selected disabled>Choose Gender</option>
                        <option value="False">Male</option>
                        <option value="True">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row ml-3">
                <div class="form-group col-sm-6">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input type="date" asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="BatchTime" class="control-label"></label>
                    <input type="time" asp-for="BatchTime" class="form-control" />
                    <span asp-validation-for="BatchTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row ml-3">
                <div class="form-group col-sm-4">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="WebsiteURL" class="control-label"></label>
                    <input asp-for="WebsiteURL" class="form-control" />
                    <span asp-validation-for="WebsiteURL" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row ml-3">
                <div class="form-group col-sm-6">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div>

            </div>
            <br />
            <button type="submit" class="btn btn-primary ml-4">Submit</button> |
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            <div>

            </div>
            <br />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}